[submodule "dpdk"]
        path = dpdk
        url = git@20.27.177.113:pmss-dependency-mirror/dpdk.git
[submodule "intel-ipsec-mb"]
        path = intel-ipsec-mb
        url = git@20.27.177.113:pmss-dependency-mirror/intel-ipsec-mb.git
[submodule "isa-l"]
        path = isa-l
        url = git@20.27.177.113:pmss-dependency-mirror/isa-l.git
[submodule "ocf"]
        path = ocf
        url = git@20.27.177.113:pmss-dependency-mirror/ocf.git
[submodule "libvfio-user"]
        path = libvfio-user
        url = git@20.27.177.113:pmss-dependency-mirror/libvfio-user.git
[submodule "xnvme"]
        path = xnvme
        url = git@20.27.177.113:pmss-dependency-mirror/xNVMe.git
[submodule "isa-l-crypto"]
        path = isa-l-crypto
        url = git@20.27.177.113:pmss-dependency-mirror/isa-l_crypto
